ProjetKitBox/ProjetKitBox/bin
ProjetKitBox/ProjetKitBox/obj
ProjetKitBox/.vs
ProjetKitBox/.vs/v14
ProjetKitBox/ProjetKitBox.userprefs
Interface-commande/Interface-commande/bin
Interface-commande/Interface-commande/obj
Interface-commande/.vs
Interface-client/Interface-client/bin
Interface-client/Interface-client/obj
